extends layout

block content
  if user
    h3 Привет,
      | !{user.email}
    p
      a.btn.btn-success(href='/bill/create', role="button") Создание чека
    p
      a.btn.btn-success(href='/product/create', role="button") Добавить продукт
    p
      a.btn.btn-success(href='/shop/create', role="button") Добавить магазин
    p
      a.btn.btn-success(href='/category/create', role="button") Добавить категорию
    p
      hr
    p
      a.btn.btn-success(href='/bill/all') Все чеки
    p
      a.btn.btn-success(href='/purchase/all') Все покупки

  else
    h3.col-md-6.col-md-offset-3.text-center
      | Необходимо залогиниться!