extends ../layout

block content
  h4 Register your account
  form(action='/user/register' method='post')
    fieldset
      label(for='name') UserName
      input(type='text' name='username' placeholder='Your user name')
      label(for='password') Password
      input(type='password' name='password' placeholder='Your Password')
      button(type='Register')

