extends ../layout

block content
  h4 Register your account
  form(action='/user/register' method='post')
    fieldset
      label(for='name') Email
      input(type='text' name='email' placeholder='Your user email')
      label(for='password') Password
      input(type='password' name='password' placeholder='Your Password')
      button(type='Register')

