extends ../layout

block scripts
  //script(src='/js/create_bill.js')

block content
  h4 Создать продукт
  if error
    h4(style="color: red")= error
  .container-fluid
    form#create_bill.form-horizontal(action='/product/create' method='post')
      .form-group
        label.col-md-2.col-md-offset-1.control-label Наименование
        .col-md-2
          input.form-control(name='title', type='text')


      button.col-md-offset-1.btn.btn-default(type='submit') Submit