extends ../layout

block scripts
  script(src='/js/create_bill.js')

block content
  h4 Создать чек
  if error
    h4(style="color: red")= error
  .container-fluid
    form#create_bill.form-horizontal(action='/bill/create' method='post')
      .form-group
        label.col-md-2.col-md-offset-2.control-label Магазин
        .col-md-3
          .input-group
            input.form-control.shop-title(name="shop" type="text", data-provide="typeahead", autocomplete="off")
            span.input-group-btn
              button.btn.btn-default.add-shop(type="button" disabled=true)
                span.glyphicon.glyphicon-plus
        input.shop-id(name='shop_id', type='hidden')
        label.col-md-2.control-label Дата
        .col-md-2
          input#bill_date.form-control(name='date', type='date')

      .form-group
        .col-md-3.col-md-offset-1
          label Наименование
        .col-md-2
          label Стоимость
        .col-md-1
          label Мера
        .col-md-2
          label Количество
        .col-md-2
          label Цена
      fieldset.products
        .form-group.product-params.hidden-group
          .col-md-3.col-md-offset-1
            .input-group
              input.form-control.product-title(name="title" type="text", data-provide="typeahead", autocomplete="off")
              span.input-group-btn
                button.btn.btn-default.add-purchase(type="button" disabled=true)
                  span.glyphicon.glyphicon-plus
            //input.form-control.product-title.typeahead(name="title" type="text", data-provide="typeahead", autocomplete="off")
            input.product-id(name='product_id', type='hidden')
          .col-md-2
            input.form-control.product-sum(name='sum', type='text')
          .col-md-1
            select.form-control(name='measure')
              option(value='pi') шт.
              option(value='kg') кг.
          .col-md-2
            input.form-control.product-count(name='count', type='text', value='1')
          .col-md-2
            input.form-control.product-price(name='price', type='text')

      .form-group
        .col-md-2.col-md-offset-7
          input.form-control.total-price(type='text' readonly=true)

      button.col-md-1.col-md-offset-1.btn.btn-success(type='Submit') Отправить
